<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />    
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.WashMate_Laundary_Service">


        <activity
            android:name=".RegistrationActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />

        <activity
            android:name=".LanguageSelectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".LocationPickerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_1DP5mmOlF5G5ag" />

        <service
            android:name=".services.LocationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />

        <activity
            android:name=".ForgotPasswordActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />

        <activity
            android:name=".ProfileActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />

        <activity
            android:name=".WashingServiceActivity"
            android:exported="false" />

        <activity
            android:name=".DryCleaningServiceActivity"
            android:exported="false" />

        <activity
            android:name=".IroningServiceActivity"
            android:exported="false" />

        <activity
            android:name=".PremiumServiceActivity"
            android:exported="false" />

        <activity
            android:name=".OrderActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />

        <activity
            android:name=".CustomerOrdersActivity"
            android:exported="false" />


        <activity
            android:name=".AdminOrdersActivity"
            android:exported="false" />


        <activity
            android:name=".ManageStaffActivity"
            android:exported="false" />

        <activity
            android:name=".AddStaffActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />

        <activity
            android:name=".ManageServicesActivity"
            android:exported="false" />

        <activity
            android:name=".AddServiceActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />

        <activity
            android:name=".CustomerDashboardActivity"
            android:exported="false" />

        <activity
            android:name=".SupportActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".AdminDashboardActivity"
            android:exported="false" />

        <activity
            android:name=".ReportsActivity"
            android:exported="false" />

        <activity
            android:name=".StaffDashboardActivity"
            android:exported="false" />

        <activity
            android:name=".ClothingSelectionActivity"
            android:exported="false" />

        <activity
            android:name=".EditProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".PromosActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".PaymentMethodsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".SavedAddressesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".FeedbackActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderTrackingActivity"
            android:exported="false" />

        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.WashMate_Laundary_Service"> <!-- Use main theme to support Material components -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>